.card {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid #424242;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
}

ul {
  padding: 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

img {
  width: 250px;
  height: 250px;
  background-color: #424242;
  border-radius: 50%;
}

.userName {
  font-size: 40px;
  font-weight: 700;
}

.tag,
.location {
  margin-top: 0%;
  color: #808080;
  font-size: 26px;
}

.list {
  border-top: 4px solid #808080;
  list-style: none;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 0px;
}

.item {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 20px;
  text-align: center;
}

.item:not(:last-child) {
  border-right: 4px solid #808080;
}

.itemCount {
  font-weight: 700;
  align-items: center;
}

.cardDescr {
  align-items: center;
  margin-bottom: 10px;
}
