.online {
    color: rgb(0, 130, 0);
    font-size: 20px;
}

.offline {
    color: rgb(198, 7, 7);
    font-size: 20px;
}

.wrapper {
    width: 200px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 20px 10px;

}

img {
    width: 80%;
    height: 70%;
    object-fit: contain;
    background-color: #fff;
    padding: 10px;

}

.animalName {
    margin: 0px;
    font-size: 24px;
}